fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
wheel
psycopg-binary
alembic==1.16.1
pgvector
alembic==1.16.1
twilio==9.6.3
celery==5.5.3
redis==6.2.0
rapidfuzz
openai==1.95.1
sentence-transformers
pandas
python-multipart
apscheduler