fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
wheel
psycopg2-binary==2.9.9
alembic==1.16.1
pgvector
twilio==9.6.3
celery==5.5.3
redis==6.2.0
rapidfuzz
openai>=1.95.0
sentence-transformers
numpy
pandas
python-multipart
apscheduler